/* import poppins locally */

@font-face {
  font-family: 'Poppins';
  src: url('poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}

  
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }
  
  .icon {
    svg {
      vertical-align: middle;
    }
  }